<%= render "devise/shared/error_messages", resource: resource %>

<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://www.flaticon.com/svg/static/icons/svg/45/45952.svg" alt="" width="72" height="72">
    <h2>Sign up</h2>
    <p class="lead">Connect. Discover. Share.
    <br>Join thousands of researchers, including Nobel Laureates, in scientific inquiry.
    </p>
  </div>
      
  <div class="row">
    <div class="col">
      <%= render "devise/registrations/form" %>
      <p></p>
      <%= render "devise/shared/links" %>
      <br></br>
      <p id="notice"><%= notice %></p>
    </div>
  </div>
</div>

<br></br>

