<!--<p id="notice"><%#= notice %></p>-->
<!--<%#= form_for([ @blog, Comment.new], remote: true) do |form| %>-->
<!--   <br>-->
<!--    <br>-->
<!--        <div class="form-group">-->
<!--        <label for="exampleFormControlTextarea1"><h2>Share your thoughts on this blog post!</h2></label>-->
<!--           <textarea class="form-control" id="<%#= form.text_field :body %>"></textarea>-->
           
           
<!--           <button type="button" class="btn btn-secondary"><%#= form.submit %></button>-->

<!--        </div>-->
<!--<%# end %>-->



<%= form_for([ @blog, Comment.new], remote: true) do |form| %>
    <%= form.text_field :body, size: '100x100' %><br>
    <button type="button" class="btn btn-secondary"><%= form.submit %></button>
<% end %>

