// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main-home
{
    text-align: center;
    height: 500px;
   
    horizontal-align: middle;
    
}

.categories-home{
    text-align: center;
  
    top: 100px;
     horizontal-align: middle;
}

