<!--<h1>Comments#submitted</h1>-->

<!--<p>-->
<!--  <%#= @greeting %>, find me in app/views/comments_mailer/submitted.html.erb-->
<!--</p>-->

<h1>You got a new comment on <%= @comment.blog.post_title%></h1>

<%= render @comment %>