<div style="background:transparent" class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-8">Our Team</h1>
    <hr class="my-4">
    <div class="members">
      <div class="row">
        <div class="col-3"> 
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://drive.google.com/file/d/1OdIPOVCqxaqPXxSThhGHQIFKyFVP572z/view?usp=sharing" alt="Farwa Khan">
            <div class="card-body">
              <p class="card-text"><b>Farwa Khan: </b>Backend Developer and Communications Manager </p>
            </div>
          </div>
        </div>
          <div class="col-3"> 
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="http://localhost/IMG_0352.jpg" alt="Zahra Memon">
            <div class="card-body">
              <p class="card-text"><b>Zahra Memon: </b>Backend and Frontend Developer</p>
            </div>
          </div>
        </div>
          <div class="col-3"> 
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://drive.google.com/file/d/1NDmVfhuUuUMGA9IRYAxBHF69rZXFRZ9X/view?usp=sharing" alt="Ivonne Rubio">
            <div class="card-body">
              <p class="card-text"><b>Ivonne Rubio: </b>Frontend Developer</p>
            </div>
          </div>
        </div>
          <div class="col-3"> 
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Youeen Josselin-Berhault">
            <div class="card-body">
              <p class="card-text"><b>Youeen Josselin-Berhault: </b>Project Manager and Frontend Developer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>