<div style="background:transparent" class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-8" style="font-family: Georgia, serif ;">Our Team</h1>
    <hr class="my-4">
    <div class="members">
      <div class="row">
        <div class="col-2"> 
          <div class="card" style="width: 18rem;">
            <!--<img class="card-img-top" src="https://drive.google.com/file/d/1OdIPOVCqxaqPXxSThhGHQIFKyFVP572z/view?usp=sharing">-->
            <div class="card-body">
              <p class="card-text"><b>Farwa Khan: <br></b>Backend Developer and Communications Manager </p>
            </div>
          </div>
        </div>
          <div class="col-2"> 
          <div class="card" style="width: 18rem;">
            <!--<img class="card-img-top" src="IMG_0352.jpg">-->
            <div class="card-body">
              <p class="card-text"><b>Zahra Memon: <br></b>Backend and Frontend Developer</p>
            </div>
          </div>
        </div>
          <div class="col-2"> 
          <div class="card" style="width: 18rem;">
            <!--<img class="card-img-top" src="IMG_4576.jpg">-->
            <div class="card-body">
              <p class="card-text"><b>Ivonne Rubio: <br></b>Frontend Developer</p>
            </div>
          </div>
        </div>
          <div class="col-2"> 
          <div class="card" style="width: 18rem;">
            <!--<img class="card-img-top" src="...">-->
            <div class="card-body">
              <p class="card-text"><b>Youeen Josselin-Berhault: <br></b>Project Manager and Frontend Developer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
    .card{
      font-family: Georgia, serif ;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      Add shadows to create the "card" effect 
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 120px;
      height: 170px;
      margin-top: 5px;
      margin-bottom:20px;

  }
  .card-text{
    align:center;
    padding-top:30px;
    font-family: Georgia, serif ;
  }
  .col-2{
    margin-right:100px;
    left:-40px;
  }
  .row{
    width:1200px;
  }
</style>