<div style="background:transparent" class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-8">About the Journal</h1>
    <p class="lead">This is a placeholder text for a beautiful explanation about what we're about.</p>
    <hr class="my-4">
    <p><b>Open Access Statement:</b> This journal is a fully open access journal. This means that articles are available immediately after being published. We publish all accepted articles under a certain license that is : placeholder</b></p>
  </div>
</div>